body {
  padding: 0px;
  margin: 0;
  font-family: Inter;
}

#root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo-contain {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.right-menu {
  color: #f0fff1;
}

.logo {
  width: 50px;
}

.logo-text {
  color: #00ffff;
  margin: 15px;
}

.navbar {
  background-color: #000030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f0fff1;
  font-size: 13px;
  font-weight:bolder;
}

.main-container {
  background-color: #222222;
  margin: 0;
  color: #fffff6;
  padding-left: 25px;
  height: 100vh;
}

.main-list-container li {
  padding-block: 3px;
  font-size: 13px;
  list-style: none;
}

.main-list-container li::before {
  content: "\2022";
  color: #00ffff;
  display: inline-block;
  font-weight: bolder;
  font-size: 30px;
  width: 1em;
}

.main-logo {
  height: 200px;
  position: absolute;
  opacity: 14%;
  left: 85%;
  top: 150px;
  filter: grayscale(100%);
  border-style: ridge;
  border-width: 1rem;
  border-image-slice: 80%;
}








/* 
.nav-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0px;
  padding: 3px 0;
  border-bottom: dotted 1px grey;
  font-size: small;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
}

.nav-bar > li {
  list-style: none;
  padding: 10px;
  
}

a {
  text-decoration: none;
}

a:hover {
  color:white;
}

.nav-bar > li:hover {
  background: grey;
  color: white;
}

.head-image {
  height: 50px;
  border-radius: 80%;
}

.hiichan {
  height: 190px;
  border-radius: 20px;
}

footer {
  background-color: grey;
  color: white;
  align-items: center;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: 400px;
}

h1 {
  margin: 0;
  padding: 2px;
}

ol {
  margin: 3px;
  padding: 2px;
} */